.covid-container {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 5%;
}

.covid-title {
  font-size: 100px;
}

@keyframes changeColor {
  0% {
    color: #61dafb;
  }
  25% {
    color: #75e1ff;
  }
  50% {
    color: #93e8ff;
  }
  75% {
    color: #beeefb;
  }
  100% {
    color: white;
  }
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 white;
  transition: 0.3s;
  width: 35%;
  margin-top: 2%;
  background-color: white;
  align-items: center;
  justify-content: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 white;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.container p {
  font-size: 20px;
}
