.navbar {
  display: flex;
  align-items: center;
  background-color: #61dafb;
  width: 100%;
  padding: 4px;
}

.navbar--logo-holder {
  margin-left: 10%;
}

.navbar--link {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.navbar--link-item {
  list-style: none;
}

.navbar--link a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.navbar--link a:hover {
  font-size: 21px;
  color: blue;
}
